<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    
</head>
<body>
    <h1>This is the about Page</h1>
    <br>
    <p style="font-size: 24px;">I am sereen fathima gani,I am currently pursuing a Bachelor of Technology (BTech) in Information Technology at Kamaraj College of Engineering.</p>
   

    <p style="font-size: 24px;">I am passionate about technology and eager to explore various fields within it. I am actively involved in various extracurricular activities and projects that help me enhance my skills and gain practical experience.</p>

</body>
</html>
